@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  min-width: 360px; /* Prevents the page from shrinking below 360px */
  overflow-x: hidden; /* Prevents horizontal scrolling */
}

/* Scrollbar Styles */
::-webkit-scrollbar {
  width: 10px;
  /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.9);
  /* Transparent scrollbar track */
}

::-webkit-scrollbar-thumb {
  background: rgba(100, 116, 139, 0.4);
  /* Semi-transparent scrollbar color */
  border-radius: 8px;
  /* Rounded corners */
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(100, 116, 139, 0.8);
  /* Darker color on hover */
}
